*{
  margin: 0px;
 }
 
 
 .flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .flex-center{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .flex-direction-column{
     flex-direction: column;
 }
 .header{
     background-color: rgb(146, 199, 99);
     padding: 10px;
 }
 
 a {
     text-decoration: none;
     color: white;
 }
 
 .margin-10{
     margin: 10px;
 }
 
 .nav-link{
     font-weight: 700;
 }
 .logo-font-style{
     color: white;
 }
 
 .image-background{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2023/01/16/06/53/clothes-7721703_1280.jpg');
     background-size: cover;
 }
 
 .section-height{
     height: 100vh;
 }
 
  button {
     background-color: rgb(146, 199, 99);
     padding: 10px 20px;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 20px;
 
 }
 
 .text-color-white{
     color: white;
 }
 
 .margin-top-bottom-10{
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
 .welcome-text-font-size{
     font-size: 60px;
 }
 .welcome-paragraph-font-size{
     font-size: 30px;
     font-weight: 500;
 }
 
 .products {
 padding: 60px 40px;
 text-align: center;
 }
 
 .product-list {
      gap:20px;
      flex-wrap:wrap;
      margin-top:30px
 }
 
 .product-card{
     background-color: #f1f5f9;
     padding: 20px;
     border-radius: 10px;
     width: 220px;
     text-align: center;
 
 }
 
 .product-card img{
     width: 100%;
     height: 300px;
     border-radius: 6px;
     margin-bottom: 10px;
 }
 .newsletter{
     background-color: #dbeafe;
     padding: 60px 40px;
     text-align: center;
 }
 input[type = "email"]{
     padding: 10px;
     width: 250px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }
 .newslatter form {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 10px;
     margin-top: 20px;
 }
 
 .footer{
     background-color: rgb(146, 199, 99);
     color: white;
     text-align: center;
     padding: 20px;
 }

.formDiv{
text-align: center;
background-color: #d8dce2;
height: 400px;
border-radius: 15px;
display: flex; 
justify-content: center;
box-shadow: #434446;
width: 90%;
 }
 .parentdiv{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
 }
